.cars {
    h2 {
        color: $color-02;
        
    }
    li {
        color: #fff;

        a {
            background-color: $color-03;
            font-size: 18px;
        }

    }
    img {
        border-radius: 20px;
    }
}