$align: left;
$bg-color: #333;
$color-01: #666;
$color-02: #666;
$color-03: #666;
$color-04: #fff;
$color-default: #fff;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;